% vim: ft=erlang:
{erl_opts,            [ debug_info
                      , warn_format
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_unused_import
                      , warn_bif_clash
                      , nowarn_shadow_vars
                      , nowarn_export_all
                      , warnings_as_errors
                      ]}.
{erl_first_files, [ "src/s2_gen_lattice" ]}.

% eof
