{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "R1[456]"}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,                []}.

%%% eof
