{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "(R1[456])|1[78]"}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      , {platform_define, "R1[456]", no_namespaced_types}
                      , {platform_define, "(R1[456])|17", has_erlang_now}
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,                []}.

%%% eof
